@model IEnumerable<BERlogic.CallCenter.Models.DatabaseConfiguration>
@inject IViewLocalizer Localizer

<div class="panel">
    @foreach (var db in Model) {
        <table class="table table-condensed">
            <thead>
            <tr class="font-weight-bold font-lg">
                <td colspan="3">@db.ConfigurationName</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a asp-controller="DatabaseConfiguration" asp-action="EditDatabaseConfiguration" asp-route-configurationId="@db.ConfigurationId"><u>@Localizer["Component.DatabaseConfiguration.E"]</u>@Localizer["Component.DatabaseConfiguration.Dit"]</a></td>
                <td><a asp-controller="DatabaseConfiguration" asp-action="RemoveDatabaseConfiguration" asp-route-configurationId="@db.ConfigurationId"><u>@Localizer["Component.DatabaseConfiguration.R"]</u>@Localizer["Component.DatabaseConfiguration.Emove"]</a></td>
                <td><a asp-controller="DatabaseConfiguration" asp-action="TestDatabaseConfiguration" asp-route-configurationId="@db.ConfigurationId"><u>@Localizer["Component.DatabaseConfiguration.T"]</u>@Localizer["Component.DatabaseConfiguration.Est"]</a></td>
            </tr>
            </tbody>
        </table>
    }
</div>