@inject IViewLocalizer Localizer
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
            <h1 class="txt-color-red login-header-big">@Localizer["BERlogic CallCenter Web Application"]</h1>
            <div class="hero">
                <div class="pull-left login-desc-box-l">
                    <h4 class="paragraph-header">@Localizer["Simplify the process is way of progress"]</h4>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
            <form id="login-form" class="smart-form client-form">
                <header>
                    @Localizer["Reset Password"]
                </header>
                <fieldset>
                    <section>
                        @Localizer["Please check your email for instructions on how-to reset your password."]
                    </section>
                </fieldset>
                <footer>
                    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">
                        <i class="fa fa-sign-in"></i> @Localizer["Login"]
                    </a>
                </footer>
            </form>
        </div>
    </div>
</div>
