@model BERlogic.CallCenter.Models.AccountViewModels.ForgotPasswordViewModel
@inject IViewLocalizer Localizer
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">@Localizer["BERlogic CallCenter Web Application"]</h1>
        <div class="hero">
            <div class="pull-left login-desc-box-l">
                <h4 class="paragraph-header">@Localizer["Simplify the process is way of progress"]</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
            <form asp-controller="Account" asp-action="ForgotPassword" id="login-form" class="smart-form client-form">
                <header>
                    @Localizer["Forgot Password"]
                </header>
                <fieldset>
                    <section>
                        <div asp-validation-summary="All" class="alert alert-danger"></div>
                    </section>
                    <section>
                        <label class="label">@Localizer["Enter your email address"]</label>
                        <label class="input">
                            <i class="icon-append fa fa-envelope"></i>
                            <input type="email" name="email" asp-for="Email">
                            <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> @Localizer["Please enter email address for password reset"]</b>
                        </label>
                        <div class="note">
                            <a asp-controller="Account" asp-action="Login">@Localizer["I remembered my password!"]</a>
                        </div>
                    </section>
                </fieldset>
                <footer>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-refresh"></i> @Localizer["Reset Password"]
                    </button>
                </footer>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
